.navigationButtons {
	padding: 30px 13px; 
	border: none; 
	background-color:inherit; 
	font-size: 18px;
	color: white;
	box-sizing: border-box;
	margin-left: -4px;
}

.navigationButtons:hover {
	background-color: #969696;
}

.dropdowns {
	display: none; 
	position: absolute; 
	margin-top: -1px; 
	background-color: white; 
	color: white;
	background-color: #969696;
	box-shadow: 5px 10px 18px #888888;
	z-index: 200;
}

.dropdowns a {
	color:white;
	text-decoration: none;
	padding: 0px 35px;
	font-size: 18px;
}

.dropdowns a:hover {
	color: #333;
}
